/* ////////////////////////// Laptop ////////////////////////////////// */

/* ////////////////////////// Tablet ////////////////////////////////// */
@media screen and (max-width: 960px) {
  /*/////////// NAV  ////////// */
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .logo {
    height: 10vh;
    width: 40vw;
  }
  .hamburger-menu {
    width: 60vw;
  }
  /* Tadinda Logo */
  .nav-logo > img {
    left: 10vw;
  }

  /*/////////// BODY  ////////// */
  body {
    background-image: url(Imgs/Mobile-Background-Material.svg);
  }

  /* Home Page ⬇ */

  #Hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Menu Pgae ⬇ */
  .Menu-preview {
    padding: 0;
  }

  #Menu-Section {
    .btn-reserve {
      width: 50%;
    }
  }

  .window-container {
    width: 270px;
    font-size: 2rem;

    .window-title {
      width: 90%;
      margin-top: -35px;
    }
  }

  /* Contact Page ⬇*/

  #Contact-Form {
    margin-bottom: 10rem;
  }
  .Contact-container {
    display: flex;
    flex-direction: row;
    /* height: 80vh; */

    padding: 5rem 5rem 5rem 5rem;
  }
  .Contact-container iframe {
    border-radius: 10px;
    height: 20rem;
  }
  .Info {
    padding-right: 1rem;
  }
  /* Makes the fontAwesome colors #d1c8c1 */
  .Info .fa-icon {
    color: var(--clr-text-color);
    font-size: 1.5rem;
  }
  .Info > h3 {
    font-size: 1.5rem;
  }
  .Info > h2 {
    font-size: 3.5rem;
  }
  .Info > p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .Form-container {
    width: 80%;
    max-width: 1000px;
    min-width: 500px;
  }
  /*/////////// FOOTER  ////////// */
  .footer-logo > img {
    width: 80%;
  }
  .footer-info {
    font-size: 1.5rem;
    padding-right: 0;
    p {
      font-size: 1rem;
    }
  }
  .social-icons .fa-brands {
    font-size: 1.7rem;
  }
  .social-icons {
    gap: 1rem;
  }
  .footer-copywrite {
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
/* ////////////////////////// Phone ////////////////////////////////// */
@media screen and (max-width: 600px) {
  /*/////////// NAV  ////////// */
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .Hero-container .arrow-down-icon {
    font-size: 2rem;
  }
  .logo {
    height: 10vh;
    width: 40vw;
  }
  .hamburger-menu {
    width: 60vw;
  }
  .btn-reserve {
    max-width: 100%;
  }
  /* Tadinda Logo */
  .nav-logo > img {
    left: 10vw;
  }
  /*/////////// BODY  ////////// */
  body {
    background-image: url(Imgs/Mobile-Background-Material.svg);
  }
  /* Home Page ⬇*/
  #Hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
  }

  .Hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 2rem;
    }
  }

  .ourStory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 2.5rem;
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }

  /* Menu Page */
  #Menu-Section {
    .btn-reserve {
      width: 35%;
    }
    .Menu-heading {
      font-size: 1.5rem;
    }
  }
  .window-container {
    width: 235px;
    font-size: 2rem;
  }
  .window-title {
    margin-top: -35px;
    width: 90%;
  }

  .Menu-preview {
    padding: 0px 0rem;
  }
  .Menu-preview-btn {
    padding: 0.5rem 0.5rem;
    font-size: 2.5rem;
  }

  /* Contact Page ⬇*/

  #Contact-FindUs {
    margin-bottom: 10rem;
    padding: 0;
  }
  .Contact-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
  }

  .Contact-container iframe {
    border-radius: 10px;
    height: 20rem;
    width: 20rem;
  }
  #Contact-form {
    height: 0;
  }
  .Info {
    margin-bottom: 1.5rem;
    padding-right: 0;
  }

  .Info .fa-icon {
    padding-right: 1rem;
    font-size: 1.5rem;
  }

  .Info > h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .Info > h2 {
    font-size: 3rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .contactInfo-details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .Info > p {
    font-size: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1rem;
  }
  .Form-container {
    width: 80%;
    height: 85%;
    min-width: 200px;
  }
  .form-group label {
    font-size: 1rem;
  }
  #ContForm input[type="text"],
  #ContForm input[type="email"],
  #ContForm input[type="tel"],
  #ContForm input[type="date"],
  #ContForm input[type="time"],
  #ContForm textarea {
    width: 100%;
    color: white;
    border: 1px solid #7d7b76;
    background: #7d7b76;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
  }
  #ContForm {
    padding: 1.5rem;
  }

  /*/////////// FOOTER  ////////// */
  .footer-logo > img {
    width: 100%;
  }
  .footer-info {
    font-size: 1.3rem;
    padding-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    p {
      font-size: 1rem;
    }
  }
  .social-icons {
    gap: 0.5rem;
  }
  .social-icons .fa-brands {
    font-size: 1.5rem;
  }
  .footer-copywrite {
    font-size: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
