@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 15px;
}

:root {
  /* Website Colors */
  --clr-primary: #c39b22;
  --clr-text-color: #d1c8c1;
  --clr-background: #1f1c1b;

  /* Website Fonts */
  --text: "Poppins", sans-serif;
  --heading: "Bebas Neue", sans-serif;
}

/* /////////////////////  NAV     /////////////////////*/

/* hamburger navbar ⬇ */
#hamburger-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  /* height: 10vh; */
}
.hamburger-menu {
  position: relative;
  display: inline-block;
  width: 90vw;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: -8px;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: var(--clr-text-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 5vh;
  background-color: var(--clr-background);
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  height: 1157px;
  left: -40vw;

  transition: 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--heading);
  align-items: center;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: var(--clr-text-color);
  text-decoration: none;
}

.menu-links li {
  list-style: none;
}

/* When the hamburger menu is opened */
.menu-links.open {
  max-height: 91vh;
  text-align: center;
  transition: 0.7s;
  z-index: 100;
}

/*The X button transision for hamburger menu*/
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
/* hamburger navbar ⬆ */

nav {
  background-color: var(--clr-background);
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.nav-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo > img {
  height: 90px;
  width: 40vw;
  object-fit: contain;
  position: relative;
  left: -5vw;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: space-evenly;
  list-style: none;
  font-family: var(--heading);
  padding-top: 1rem;
}
.nav-links a {
  text-decoration: none;
  font-size: 2.1rem;
  color: var(--clr-text-color);
}
.nav-links a:hover {
  color: var(--clr-primary);
  transition: color 0.3s linear;
}

/* Reserve now btn */
.btn-reserve {
  padding: 5px 10px 0 10px;
  font-family: var(--heading);
  font-size: 2rem;
  color: var(--clr-background);
  background-color: var(--clr-primary);
  border: none;
  border-radius: 5px;
}
.btn-reserve:hover {
  background-color: #e3d3a2;
  color: var(--clr-primary);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

/* Active page for the nav-heading */
.page-active a {
  color: var(--clr-primary);
}

/* /////////////////////  BODY     /////////////////////*/
body {
  font-family: var(--heading);
  background-color: var(--clr-background);

  /* Background Material ⬇*/
  background-image: url(Imgs/Material-Background.svg);
  /* Background Material ⬆ */
}

/* Home Page ⬇*/
#Hero {
  height: 90vh;
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  z-index: 1; /* Lower z-index to ensure content on top is clickable and visible */
}

/* Backgound img/opacity */
#Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(Imgs/Hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

.Hero-container {
  color: #efefef;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0 10rem;
  text-align: center;
  /* font-family: var(--text); */

  h2 {
    font-size: 2rem;
    margin-bottom: 25px;
  }
  h3 {
    font-size: 4rem;
  }
  hr {
    background-color: #d8a817;
    height: 5px;
    border: none;
  }

  .arrow-down-icon {
    font-size: 3rem;
    color: #ffff;
    position: absolute;
    bottom: 45px;
  }
  .arrow-down-icon:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease-in;
    cursor: pointer;
    color: #d8a817;
  }
}
.ourStory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem;
  h2 {
    font-size: 3rem;
    color: #ffff;
  }
  h3 {
    font-size: 2.5rem;
    font-family: var(--text);
    text-align: center;
    color: var(--clr-text-color);
    font-weight: 200;
  }
}

/* Menu Page */
#Menu-Section {
  .btn-reserve {
    display: flex;
    margin: 0 auto;
    width: 11%;
    max-width: 200px;
    justify-content: center;
    padding: 15px 0px;
    font-size: 2.3rem;
  }

  .Menu-heading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2rem;
    color: var(--clr-text-color);

    span {
      color: var(--clr-primary);
    }
  }
}

.full-menu-btn {
  color: #ffff;
}

/* Heading arrow animation ⬇ */
.bounce-infinate {
  animation: bounce 2s infinite;
}
.bounce-5 {
  animation: bounce 2s 5;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
/* Heading arrow animation ⬆ */

.Menu-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem 0;
  padding: 0px 12rem;

  .window-container {
    padding-bottom: 5rem;
  }
}

.Menu-preview-btn {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 15%;
  color: #ffff;
  padding: 1rem 0.5rem;
  font-size: 3rem;
}

.window-container {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  font-size: 2.7rem;
  font-weight: 400;
  color: #efefef;
  white-space: nowrap;
  text-align: center;
}

.window-image {
  aspect-ratio: 0.74;
  object-fit: cover;
  width: 100%;
  border-radius: 150px 150px 10px 10px;
  border: 5px solid var(--clr-primary);
  &:hover {
    opacity: 0.7;
    transition: all 0.3s ease-out;
  }
}

.window-title {
  font-family: var(--heading);
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--Primary, #c39b22);
  align-self: center;
  z-index: 10;
  margin-top: -60px;
  width: 100%;
  max-width: 276px;
  padding: 0px 35px;
}

/* Contact Page ⬇*/
#Contact-FindUs {
  /* height: 80vh; */
  padding: 5rem 0 10rem 0;
  width: 100%;
}
#Contact-Form {
  /* height: 100vh; */
  width: 100%;
  /* padding: 5rem; */
}

.Contact-container {
  display: flex;
  flex-direction: row;
  font-family: var(--heading);
  justify-content: space-evenly;
  align-items: center;
}
.Contact-container iframe {
  border-radius: 10px;
  height: 25rem;
}
/* Makes the fontAwesome colors #d1c8c1 */
.Info .fa-icon {
  color: var(--clr-text-color);
  padding-right: 1rem;
  font-size: 2rem;
}
.Info > h3 {
  color: var(--clr-primary);
  font-size: 2rem;
}
.Info > h2 {
  color: white;
  font-size: 4rem;
}
.Info > p {
  color: var(--clr-text-color);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: var(--text);
}

/* Contact Page Form */
#ContForm {
  padding: 5rem;
  background-color: #373633;
  border-radius: 10px;
}

.Form-container {
  width: 80%;
  max-width: 1000px;
  min-width: 500px;
  height: 65rem;
  /* border-radius: 10px; */
  /* background-color: #373633; */
  margin: 0 auto;
  margin-top: 2rem;
}
.form-Info {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-group input::placeholder,
textarea::placeholder {
  color: #5c5a57;
  font-family: var(--text);
}

.form-group textarea {
  height: 10rem;
}

.form-group label {
  font-size: 2rem;
  font-family: var(--text);
  color: var(--clr-text-color);
  padding-bottom: 1rem;
}
.form-btn {
  width: 15%;
  min-width: 100px;
}

#ContForm input[type="text"],
#ContForm input[type="number"],
#ContForm input[type="email"],
#ContForm input[type="tel"],
#ContForm input[type="date"],
#ContForm input[type="time"],
#ContForm textarea {
  width: 100%;
  color: white;
  border: 1px solid #7d7b76;
  background: #7d7b76;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

#ContForm input[type="text"]:hover,
#ContForm input[type="number"]:hover,
#ContForm input[type="email"]:hover,
#ContForm input[type="tel"]:hover,
#ContForm input[type="date"]:hover,
#ContForm input[type="time"]:hover,
#ContForm textarea:hover {
  border: 1px solid var(--clr-text-color);
  background: #8a8986;
  transition: border 0.3s ease-out;
}

/*  */

/* /////////////////////  FOOTER     /////////////////////*/
footer {
  width: 100%;
  padding: 1rem 0;
  margin-top: 25rem;
  /* height: 30vh; */
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: inherit;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--clr-text-color);
  font-size: 2rem;
  /* width: 50%; */
  justify-content: space-around;
}

.footer-logo > img {
  /* width: 50%; */
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.social-icons .fa-brands {
  font-size: 2.5rem;
  color: var(--clr-text-color);
}

.fa-brands:hover {
  color: var(--clr-primary);
  transition: color 0.3s ease-in;
}

.footer-info {
  margin-left: 3rem;
}
.footer-info p {
  font-family: var(--text);
  font-size: 1.5rem;
}
.footer-arrow {
  position: relative;
  font-size: 2rem;
}

/* Address Hover animation ⬇ */
.footer-address:hover {
  color: var(--clr-primary);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.footer-address:hover .footer-arrow {
  color: var(--clr-primary);
  transform: translateY(-20px);
  transition: all 0.6s ease-out;
}

.footer-copywrite {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  /* height: 5vh; */
  font-size: 1.5rem;
  color: var(--clr-text-color);
  text-align: center;
  font-family: var(--text);
}

/* Background Material */
.noise {
  background: linear-gradient(to right, var(--clr-background), transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
}
