@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 15px;
}

:root {
  /* Website Colors */
  --clr-primary: #c39b22;
  --clr-text-color: #d1c8c1;
  --clr-background: #1f1c1b;

  /* Website Fonts */
  --text: "Poppins", sans-serif;
  --heading: "Bebas Neue", sans-serif;
}

/* Back to top btn  */
#backToTop {
  z-index: 50;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--clr-background);
  border: 2px solid var(--clr-text-color);
  i {
    font-size: 2rem;
    color: var(--clr-text-color);
  }
  &:hover {
    cursor: pointer;
    transition: all 0.3s linear;
    border-color: var(--clr-primary);
    background-color: #372d29;
    i {
      transition: all 0.3s linear;
      color: var(--clr-primary);
    }
  }
}

/* /////////////////////  NAV     /////////////////////*/

/* hamburger navbar ⬇ */
#hamburger-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  /* height: 10vh; */
}
.hamburger-menu {
  position: relative;
  display: inline-block;
  width: 90vw;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  position: absolute;
  right: 45px;
  top: -8px;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: var(--clr-text-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 5vh;
  background-color: var(--clr-background);
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  height: 1157px;
  left: -40vw;

  transition: 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--heading);
  align-items: center;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  color: var(--clr-text-color);
  text-decoration: none;
}

.menu-links li {
  list-style: none;
}

/* When the hamburger menu is opened */
.menu-links.open {
  max-height: 91vh;
  text-align: center;
  transition: 0.7s;
  z-index: 100;
}

/*The X button transision for hamburger menu*/
.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
/* hamburger navbar ⬆ */

nav {
  background-color: var(--clr-background);
  height: 10vh;
  display: flex;
  flex-direction: row;
}
.nav-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo > img {
  height: 90px;
  width: 40vw;
  object-fit: contain;
  position: relative;
  left: -5vw;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 60vw;
  justify-content: space-evenly;
  list-style: none;
  font-family: var(--heading);
  padding-top: 1rem;
}
.nav-links a {
  text-decoration: none;
  font-size: 2.1rem;
  color: var(--clr-text-color);
}
.nav-links a:hover {
  color: var(--clr-primary);
  transition: color 0.3s linear;
}

/* Reserve now btn */
.btn-reserve {
  padding: 5px 10px 0 10px;
  font-family: var(--heading);
  font-size: 2rem;
  color: var(--clr-background);
  background-color: var(--clr-primary);
  border: none;
  border-radius: 5px;
}
.btn-reserve:hover {
  background-color: #e3d3a2;
  color: var(--clr-primary);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

/* Active page for the nav-heading */
.page-active a {
  color: var(--clr-primary);
}

/* /////////////////////  BODY     /////////////////////*/
body {
  font-family: var(--heading);
  background-color: var(--clr-background);

  /* Background Material ⬇*/
  background-image: url(Imgs/Material-Background.svg);
  /* Background Material ⬆ */
}

/* Home Page ⬇*/
#Hero {
  height: 90vh;
  position: relative; /* Ensure the pseudo-element is positioned relative to this container */
  z-index: 2; /* Lower z-index to ensure content on top is clickable and visible */
}

.hero-bg {
  height: 90vh;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  width: 100%;
  opacity: 0.6;
  /* z-index: -1; */
}

/* Backgound img/opacity */
/* #Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
} */

.Hero-container {
  color: #efefef;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0 10rem;
  text-align: center;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

  h2 {
    font-size: 3rem;
    /* font-weight: 300; */
    letter-spacing: 2px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }
  .Hero-container-line {
    width: 10rem;
    height: 5px;
    background-color: white;
    margin: 0 1rem;
    border-radius: 10px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  h3 {
    font-size: 4.5rem;
    font-weight: 300;
  }

  hr {
    background-color: #d8a817;
    height: 5px;
    border: none;
  }

  .arrow-down-icon {
    font-size: 3rem;
    color: #ffff;
    position: absolute;
    bottom: 45px;
  }
}

.home-ourStory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 5rem;

  h2 {
    font-size: 4rem;
    font-weight: 500;
    color: #ffff;
    padding-bottom: 2rem;
  }

  h3 {
    font-size: 2rem;
    font-family: var(--text);
    text-align: center;
    color: var(--clr-text-color);
    font-weight: 200;
    padding-bottom: 3rem;
  }
}

@media (max-width: 600px) {
  .home-ourStory-container {
    padding: 10rem 2rem;

    h3 {
      font-size: 1.25rem;
    }
  }
}

/* Customer Reviews  */

.Customer__reviews {
  text-align: center;
  font-size: clamp(3rem, 10vw, 5rem);
  font-weight: 500;
  margin-top: 10rem;
  color: #ffff;
  span {
    color: var(--clr-primary);
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card__container {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 5.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
  /* background-color: green; */
}

.card__article {
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__data {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 0px solid rgba(255, 255, 255, 0.3);
  padding: 3rem 2rem;
  border-radius: 2rem;
  text-align: center;
  position: relative;
  z-index: 10;
  height: 400px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card__name {
  font-size: clamp(1rem, 10vw, 2.5rem);
  color: var(--clr-primary);
  margin-bottom: 0.75rem;
}

.card__description {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--clr-text-color);
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  background-color: var(--clr-primary);
  padding: 1rem 2rem;
  font-size: 1.25rem;
  text-decoration: none;
  border-radius: 0.25rem;
  color: white;
  font-weight: 500;
}

/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  display: none;
  i {
    color: var(--clr-primary);
    &:hover {
      color: var(--clr-text-color);
      transition: color 0.3s linear;
    }
  }
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: var(--clr-primary);
  opacity: 1;
}

#text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  /* height: 100px; */
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1320px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}
/* Menu Page */
#Menu-Section {
  .btn-reserve {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 200px;
    justify-content: center;
    padding: 15px 0px;
    font-size: 2.5rem;
  }

  .Menu-heading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    font-size: 2rem;
    color: var(--clr-text-color);

    span {
      color: var(--clr-primary);
    }
  }
}

/* Heading arrow animation ⬇ */
.bounce-infinate {
  animation: bounce 2s infinite;
}
.bounce-5 {
  animation: bounce 2s 5;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
/* Heading arrow animation ⬆ */

.Menu-preview {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5rem 0;
  padding: 0px 12rem;

  .window-container {
    padding-bottom: 5rem;
  }
}

.preview-btn {
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 200px;
  color: #ffff;
  padding: 1rem 0.5rem;
  font-size: 2rem;
}

.window-container {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  font-size: 2.7rem;
  font-weight: 400;
  color: #efefef;
  white-space: nowrap;
  text-align: center;
}

.window-image {
  aspect-ratio: 0.74;
  object-fit: cover;
  width: 100%;
  border-radius: 150px 150px 10px 10px;
  border: 5px solid var(--clr-primary);
  &:hover {
    opacity: 0.7;
    transition: all 0.3s ease-out;
  }
}

.window-title {
  font-family: var(--heading);
  font-weight: 400;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--Primary, #c39b22);
  align-self: center;
  z-index: 10;
  margin-top: -60px;
  width: 100%;
  max-width: 276px;
  padding: 0px 35px;
}

/* About Page */

.ourStoryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10rem 5rem;

  h3 {
    font-size: 4rem;

    color: #ffff;
  }
  span {
    color: var(--clr-primary);
    margin-right: 10px;
  }

  p {
    font-size: 1.5rem;
    color: #ffff;
    font-family: var(--text);
    font-weight: 300;
    margin-top: 2rem;
  }
}

#About-carousel {
  overflow: hidden;
}

/* Sliding  carousel*/
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;

  background: rgba(255, 255, 255, 0);
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgb(31 28 27 / 0%),
    rgb(31 28 27 / 100%)
  );
}

.logos:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgb(31 28 27 / 0%),
    rgb(31 28 27 / 100%)
  );
}

.logos:hover .logos-slide {
  animation-play-state: paused;
  cursor: grabbing;
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 550px;
  margin: 0 1px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .ourStoryContainer {
    padding: 3rem 2rem;

    h3 {
      font-size: 2.7rem;
    }

    p {
      font-size: 1rem;
      margin-top: 1rem;
    }
  }

  .logos-slide img {
    height: 350px;
  }

  .logos:before,
  .logos:after {
    width: 100px;
    height: 100%;
  }

  .logos-slide {
    animation: 35s slide infinite linear;
  }
}

/* Contact Page ⬇*/

#Contact-FindUs {
  padding: 5rem 0 10rem 0;
  width: 100%;
}

#Contact-Form {
  width: 100%;
}

.Contact-container {
  display: flex;
  flex-direction: row;
  font-family: var(--heading);
  justify-content: space-evenly;
  align-items: center;
}

.Contact-container iframe {
  border-radius: 10px;
  height: 25rem;
}

/* Makes the fontAwesome colors #d1c8c1 */
.Info .fa-icon {
  color: var(--clr-text-color);
  padding-right: 1rem;
  font-size: 2rem;
}
.Info > h3 {
  color: var(--clr-primary);
  font-size: 2rem;
}
.Info > h2 {
  color: white;
  font-size: 4rem;
}
.Info > p {
  color: var(--clr-text-color);
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-family: var(--text);
}

/* Contact Page Form */
#ContForm {
  padding: 5rem;
  background-color: #333331;
  border-radius: 10px;
}

.Form-container {
  width: 80%;
  max-width: 1000px;
  min-width: 500px;
  height: 65rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.form-Info {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group input::placeholder,
textarea::placeholder {
  color: #5c5a57;
  font-family: var(--text);
}

.form-group textarea {
  height: 10rem;
}

.form-group label {
  font-size: 2rem;
  font-family: var(--text);
  color: var(--clr-text-color);
  padding-bottom: 1rem;
}

.form-btn {
  width: 15%;
  min-width: 100px;
}

#ContForm input[type="text"],
#ContForm input[type="number"],
#ContForm input[type="email"],
#ContForm input[type="tel"],
#ContForm input[type="date"],
#ContForm input[type="time"],
#ContForm textarea {
  width: 100%;
  color: white;
  border: 1px solid #7d7b76;
  background: #7d7b76;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

#ContForm input[type="text"]:hover,
#ContForm input[type="number"]:hover,
#ContForm input[type="email"]:hover,
#ContForm input[type="tel"]:hover,
#ContForm input[type="date"]:hover,
#ContForm input[type="time"]:hover,
#ContForm textarea:hover {
  border: 1px solid var(--clr-text-color);
  background: #8a8986;
  transition: border 0.3s ease-out;
}

/* /////////////////////  FOOTER     /////////////////////*/
footer {
  width: 100%;
  padding: 3rem 1rem 1rem 1rem;
  margin-top: 25rem;
  /* height: 30vh; */
  /* background-color: black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: inherit;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--clr-text-color);
  font-size: 2rem;
  /* width: 50%; */
  justify-content: space-around;
}

.footer-logo {
  width: 150px;
  img {
    width: 100%;
  }
}

.social-icons {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.social-icons .fa-brands {
  font-size: 2.5rem;
  color: var(--clr-text-color);
}

.fa-brands:hover {
  color: var(--clr-primary);
  transition: color 0.3s ease-in;
}

.footer-info {
  margin-left: 3rem;
}
.footer-info p {
  font-family: var(--text);
  font-size: 1.5rem;
}
.footer-arrow {
  position: relative;
  font-size: 2rem;
}

/* Address Hover animation ⬇ */
.footer-address:hover {
  color: var(--clr-primary);
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.footer-address:hover .footer-arrow {
  color: var(--clr-primary);
  transform: translateY(-20px);
  transition: all 0.6s ease-out;
}

.footer-copywrite {
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
  /* height: 5vh; */
  font-size: 1.5rem;
  color: var(--clr-text-color);
  text-align: center;
  font-family: var(--text);
}

/* Background Material */
.noise {
  background: linear-gradient(to right, var(--clr-background), transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
}

/*  */
